@page
@model PrivacyModel
@attribute [Authorize(Roles = "App.Privacy.View")]
@attribute [Authorize(Roles = "App.User.Permission")]
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
